<!DOCTYPE html>
<html lang="cs">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Seznam filmů</title>
</head>
<body>
    <h1>Seznam filmů</h1>
    <ul>
        {% for movie in movies %}
            <li>
                {{ movie.title }} ({{ movie.genre }}) - {{ movie.length}} minut
                <a class=button href="{% url 'movie_seats' movie.id %}">Rezervovat místo</a>
                <form action="{% url 'delete_movie' movie.id %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button class=delete_movie type="submit">Odstranit film</button>
                </form>
            </li>
        {% endfor %}
    </ul>

</body>
</html>