
<!DOCTYPE html>
<html lang="cs">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Rezervace sedadla</title>
    <link rel="stylesheet" href="{% static 'css/seat_plan.css' %}">
</head>
<body>
    <h1>Rezervace sedadla {{ seat.row }}{{ seat.seat_column }}</h1>
    <p>Film: {{ movie.title }}</p>

    <h2>Plánek sedadel</h2>
    <table>

        {% for row_seats in seat_map %}
            <tr>
                {% for seat in row_seats %}
                    <td class="{% if seat and seat.is_reserved %}reserved{% else %}available{% endif %}">
                        {% if seat %}
                            {% if seat.is_reserved %}
                                {{ seat.row }}{{ seat.seat_column }}<br>Obsazeno
                            {% else %}
                                <a href="{% url 'reserve_seat' movie_id=movie.id seat_id=seat.id %}">
                                    {{ seat.row }}{{ seat.seat_column }}<br>Rezervovat
                                </a>
                            {% endif %}
                        {% else %}
                            Prázdné
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>




    <a href="{% url 'index' %}">Zpět domu</a>
</body>
</html>
