/* Tabulka plánu sedadel */
.seating-plan {
    display: table;
    margin: 0 auto;
}

/* Styl pro sedadla */
.seating-plan .seat {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;

    justify-content: center;
    align-items: center;
    cursor: pointer; /* Přidáme kurzor jako ukazatel pro interaktivní sedadla */
}

/* Styl pro dostupná sedadla */
.seating-plan .seat.available button {
    width: 100%;
    height: 100%;
    background-color: #4CAF50; /* Zelená */
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

/* Styl pro rezervovaná sedadla */
.seating-plan .seat.reserved {
    background-color: #f44336; /* Červená */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tlačítka pro rezervaci */
button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #4CAF50; /* Zelená */
    color: white;
    font-size: 12px;
    cursor: pointer;
}

button:focus {
    outline: none; /* Odstraní okraje při zaměření na tlačítko */
}

/* Pro sedadla, která nejsou dostupná */
.seating-plan .seat.unavailable {
    background-color: #e0e0e0; /* Světle šedá pro nedostupná sedadla */
    color: #aaa; /* Světle šedý text */
}

.seat button {
    pointer-events: auto; /* Umožní klikání na tlačítka */
    cursor: pointer; /* Ukáže ručičku při najetí na tlačítko */
}